@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  background-color: #222;
  color: white;
}

a{
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  padding: 5px 10px;
}

.active{
  background-color: black;
  color: white;
  border-radius: 4px;
}

.outlet-container{
  background-color: red;
}